.App {
  text-align: center;
  margin: 100px;
  padding: 100px;
  justify-content: center;
}

.App{
  font-size: 24px;
  color: rgb(4, 6, 24);
  font-kerning: 50px;
  background-color: rgb(209, 196, 179);
  border-radius: 10px;
}
